*.log
*.xmsgs
*.cmd
*.gise
*.xise
*.prj
*.cmd_log
*.spl
*.stx
*.sym
*.xst
*.exe
*.bld
*.gyd
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.rpt
*.syr
*.tim
*.tspec
*.vm6
*.xml
*.wdb
*.html
*.jhd
*.vhf
*/
*.xrpt
*.csv
*.err
*.ini
sch2HdlBatchFile